.product {
  padding: 98px;
  display: flex;
  justify-content: center;

  @media (max-width: 800px) {
    padding: 92px 64px 64px 64px;
  }

  @media (max-width: 725px) {
    padding: 92px 48px 48px 48px;
    flex-direction: column;

    main {
      flex-direction: column;

      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }
  }

  @media (max-width: 425px) {
    padding: 92px 24px;
  }

  @media (max-width: 375px) {
    padding: 92px 12px;
  }



  
  main {
    width: fit-content;
    padding: 48px;
    border-radius: 18px;
    background-color: #fff;
    box-shadow: 0 0 8px #000;
    display: flex;
    gap: 24px;
    color: #1e1e1e;
    @media (width <= 860px) {
      padding: 24px;
    }

    .addCart {
      width: fit-content;
      display: flex;
      padding: 8px 12px;
      gap: 4px;
      flex-wrap: wrap;

      button {
        width: 100%;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        cursor: pointer;
        flex: 1 1;
      }
    }
    
    input[type="number"] {
      padding: 4px 12px;
      border: 1px solid #000;
      width: 48px;
      height: 28px;
      border-radius: 8px;
      text-align: center;
      appearance: textfild;
      -moz-appearance: textfield;
      flex: 1 1 100%;

      &:focus {
        outline: none;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }

    img {
      border-radius: 12px;
    }

    h1 {
      font-size: 32px;
      font-weight: 700;
    }

    h2 {
      font-size: 24px;
      font-weight: 600;
      opacity: 0.8;

      span {
        text-decoration: line-through;
      }
    }

    button {
      padding: 8px 12px;
      background-color: #000;
      color: #fff;
      border-radius: 8px;
      cursor: pointer;
      height: fit-content;
      margin-top: auto;

      &:hover {
        background-color: #181818;
      }
    }

    p {
      opacity: 0.5;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      margin-top: 12px;
    }

    >div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      >div {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;

        @media (width <= 425px) {
          gap: 10px;
        }
        p {
          margin-top: auto;
          margin-bottom: auto;
        }
        >div {
          padding: 8px 12px;
          background-color: #e6e6e6;
          border-radius: 12px;
          position: relative;
          cursor: pointer;

          &::before {
            content: var(--hint);
            color: #fff;
            padding: 8px 12px;
            position: absolute;
            background-color: #000;
            display: flex;
            justify-content: center;
            opacity: 0;
            filter: blur(10px);
            align-items: center;
            width: fit-content;
            left: 50%;
            bottom: 0;
            border-radius: 8px;
            transform: translate(-50%) scale(0);
            transition: all 1s cubic-bezier(.82,-0.45,.18,1.45);
            z-index: 99;
          }

          &:hover::before {
            bottom: -130%;
            transform: translate(-50%) scale(1);
            filter: blur(0);
            opacity: 1;
          }
        }
      }
    }
  }
}