.active {
  opacity: 1 !important;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 28px;
  transition: all 1s cubic-bezier(.82,-0.45,.18,1.45);

  main {
    display: flex;
    gap: 96px;

    ul {
      display: flex;
      gap: 48px;

      li {
        opacity: 0.5;
        font-size: 18px;
        color: #1E1E1E;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }

    }
    
  }
  
  ol {
    display: flex;
    gap: 48px;
    align-items: center;
    
    li:nth-child(2) {
      padding-right: 48px;
      border-right: 2px solid #1E1E1E;
    }

    .menuToggle:checked + label span:nth-child(1) {
      transform: rotate(45deg) translate(8px, 8px);
    }

    .menuToggle:checked + label span:nth-child(2) {
      transform: rotate(-45deg) translateY(-2px);
    }

    .menuToggle:checked + label span:nth-child(3) {
      transform: rotate(-45deg) translate(-19.5px, -16px);
    }

    label {
      width: 40px;
      height: 24px;
      position: relative;
      cursor: pointer;

      span {
        height: 2px;
        background-color: #1E1E1E;
        position: absolute;
        transition: all .4s ease;
      }
      span:nth-child(1) {
        width: 100%;
        top: 0;
        right: 0;
      }

      span:nth-child(2) {
        width: 75%;
        top: 10px;
        right: 0;
      }

      span:nth-child(3) {
        width: 25%;
        top: 20px;
        right: 0;
      }
    }
  }
}

.scrolled {
  padding-top: 48px;
  padding-inline: 96px;
}