.products {
  padding: 96px;
  display: flex;
  flex-direction: column;
  gap: 64px;

  .inSaleWrapper {
    padding: 48px;
    background-color: rgb(255, 32, 32);
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: hid;


    >h1 {
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      width: fit-content;
      rotate: -12deg;
      filter: blur(10px);
      opacity: 0;
      transform: translateX(-20px);
      animation: autoBlur 1s ease forwards;
      line-height: 0;
    }

    >div {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 48px;
    }
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 48px;
  }
  
}

.filterWrapper {
  width: 100%;
  padding: 12px 128px;
  border-bottom: 1px solid #000;
  user-select: none;
  display: flex;
  align-items: center !important;

  .search {
      width: fit-content;
      position: relative;
      overflow: hidden;

      input {
        padding: 10px 18px;
        background-color: #fff;
        border-radius: 12px;
        width: 449px;
        border: 1px solid #000;
        font-size: 16px;

        &:focus {
          outline: none;
        }
      }

      span {
        position: absolute;
        right: 7px;
        padding: 8px;
        top: 50%;
        transform: translate(60px, -80px) rotate(360deg) scale(0.8);
        width: auto;
        background-color: #C1DCDC;
        border-radius: 8px;
        font-size: 16px;
        cursor: pointer;
        transition: all 1s cubic-bezier(.82,-0.45,.18,1.45);

        &:hover {
          opacity: 0.9;
          top: 53.1%;
          scale: 1.1;
        }
      }

      &:focus-within {
        span {
          transform: translate(0, -50%) rotate(0) scale(1);
        }
      }
    }

  >div {
    position: relative;
    z-index: 99;
    button {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    ul {
      border-radius: 8px;
      position: absolute;
      padding: 24px;
      background-color: #fff;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 48px;
      row-gap: 18px;
      border: 1px solid #000;
      top:150%;

      input:checked + label {
        opacity: 1;
        font-weight: 500;
      }

      label {
        width: fit-content;
        text-wrap: nowrap;
        cursor: pointer;
        opacity: 0.8;
        transition: .3s;


        &:hover {
          opacity: 1;
          font-weight: 500;
        }
      }
    }
  }
}

// animations

@keyframes autoBlur {
  to {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
  }
}