.products {
  padding: 96px;
  display: flex;
  flex-direction: column;
  gap: 64px;

  .inSaleWrapper {
    padding: 48px;
    background-color: red;
    border-radius: 24px;
    display: flex;
    flex-direction: column;


    >h1 {
      color: #fff;
      font-size: 32px;
      font-weight: 700;
      width: fit-content;
      rotate: -12deg;
      filter: blur(10px);
      opacity: 0;
      transform: translateX(-20px);
      animation: autoBlur 1s ease forwards;
      line-height: 0;
    }

    >div {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 48px;
    }
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 48px;
  }
  
}

.filterWrapper {
  width: 100%;
  padding: 12px 128px;
  border-bottom: 1px solid #000;
  user-select: none;
  display: flex;

  >div {
    position: relative;
    >div {
      position: absolute;
    }
    button {
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    ul {
      border-radius: 8px;
      position: absolute;
      padding: 24px;
      background-color: #fff;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 48px;
      row-gap: 18px;
      border: 1px solid #000;
      top:150%;
      filter: blur(10px);
      opacity: 0;
      transform: translateX(-30px);
      animation: autoBlur 0.5s ease forwards;

      li {
        width: fit-content;
        text-wrap: nowrap;
        cursor: pointer;
        opacity: 0.8;
        transition: .3s;

        &:hover {
          opacity: 1;
          font-weight: 500;
        }
      }
    }
  }
}

// animations

@keyframes autoBlur {
  to {
    filter: blur(0);
    opacity: 1;
    transform: translateX(0);
  }
}