.products {
  padding: 96px;
  display: flex;
  flex-direction: column;

  .inSaleWrapper {
    padding: 48px;
    background-color: red;
    border-radius: 24px;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 48px;
  }
  
}