.footer {
  padding: 48px 96px;
  width: 100%;
  background-color: #C1DCDC;
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (max-width: 1080px) {
    padding: 24px 48px;
  }

  @media (max-width: 700px) {
    padding: 24px 24px;
    flex-direction: column;

    >main {
      flex-direction: column;
      gap: 48px;
    }
  }
  p {
    opacity: 0.5;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    flex-direction: column;

    @media (max-width: 620px) {
      font-size: 16px;
    }

    @media (max-width: 425px) {
      font-size: 14px;
    }
  }
  >main {
    display: flex;
    justify-content: space-between;

    main{
      display: flex;
      gap: 48px;
      color: #1e1e1e;
    }

    main:nth-child(1) {
      flex-direction: column;
      gap: 92px;
  
      
  
      >div {
        display: flex;
        flex-direction: column;
        gap: 24px;
        
        aside {
          display: flex;
          gap: 24px;
  
          div {
            width: 48px;
            height: 48px;
            border: 1px solid #1E1E1E;
            opacity: 0.5;
            border-radius: 50%;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .3s ease;
            cursor: pointer;
  
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  
    main:nth-child(2) {
      ul {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media (max-width: 425px) {
          gap: 12px;

          li {
            font-size: 16px !important;
          }
        }

        @media (max-width: 375px) {
          li {
            font-size: 14px !important;
          }
        }
  
        li:nth-child(1) {
          font-size: 18px;
          font-weight: 700;
        }
        
        li:not(:nth-child(1)) {
          opacity: 0.5;
          font-size: 18px;
          font-weight: 400;
        }
      }
    }
  }
}