.profile {
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 6px;

  aside {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 6px;
    align-items: start;

    >div {
      display: flex;
      gap: 6px;
    }

    button {
      font-weight: 500;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  h1 {
    font-size: 24px;
    font-weight: 600;
  }
  >div {
    form {
      button {
        padding: 8px 14px;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
      }
    }
  }

  >div {
    display: flex;
    align-items: center;
    gap: 12px;

    button {
      cursor: pointer;
    }

    >form {
      display: flex;
      gap: 6px;

      input {
        width: fit-content;
        padding: 0 4px;
        color: #000;
        border: 1px solid #000;
        border-radius: 8px;
      }
    }
  }
}

.error,
.success {
  position: absolute;
  z-index: 999;
  top: 32px;
  left: 0;
  padding: 12px 28px;
  display: flex;
  color: #000;
  animation: fadeRight 4.5s cubic-bezier(.82,-0.45,.18,1.45) forwards;
  background-color: #fff;
}

.error {
  border-right: 4px solid tomato;
}

.success {
  border-right: 4px solid lime;
}

// animations 

@keyframes fadeRight {
  0% {
    filter: blur(10px);
    transform: translate(-200%) scale(0.5);
    opacity: 0;
  }
  40% {
    filter: blur(0);
    transform: translate(32px) scale(1);
    opacity: 1;
  }

  60% {
    filter: blur(0);
    transform: translate(32px) scale(1);
    opacity: 1;
  }
  100% {
    filter: blur(10px);
    transform: translate(-200%) scale(0.5);
    opacity: 0;
  }
}

.locationForm {
  z-index: 99;
  padding: 24px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  align-items: start;

  div {
    display: flex;
    flex-direction: column;
    gap: 6px;

    input {
      padding: 8px 4px;
      border: 1px solid #000;
      border-radius: 8px;
    }

  }
  button {
    padding: 8px 12px;
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    transition: .3s ease;
    cursor: pointer;

    &:hover {
      background-color: #1a1a1a;
    }
  }
}