$hint: "hint";

.button {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  background-color: #fff;
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;

  span {
    font-size: 18px;
    font-weight: 500;
    transition: all .5s ease;
  }

  svg {
    width: 24px;
    height: 24px;
    transition: all .5s ease;
  }

  &:hover {
    span {
      transform: translate(-5px, 0) rotate(-8deg);
    }

    svg {
      transform: translate(5px, 0) rotate(-330deg);
    }
  }
}

.featureCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  gap: 12px;
  
  aside {
    padding: 18px;
    border-radius: 999px;
    background-color: #C1DCDC;
    svg {
      font-size: 40px;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    
    h1 {
      font-size: 18px;
      color: #000;
      font-weight: 700;
      text-align: center;
    }

    p {
      font-size: 18px;
      opacity: 0.5;
      color: #1E1E1E;
      font-weight: 500;
      text-align: center;
    }
  }
}

.category {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
  perspective: 1000px;
  img {
    opacity: 0;
  }
  h1 {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: #1E1E1E;
  padding: 12px;
  border-radius: 12px;
  opacity: 0;
  transition: all .4s ease;
  background-color: #fff;
  height: fit-content;
  border: 1px solid transparent;

  img {
    border-radius: 12px;
    width: 100%;
  }

  h1 {
    font-size: 18px;
    font-weight: 500;
  }

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 0 !important;
    }

    button {
      padding: 6px 8px;
      background-color: rgb(247, 181, 2);
      border-radius: 8px;
      transition: 0.6s;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
        box-shadow: 0 0 4px #000;
      }
    }
  }

  p {
    color: #1E1E1E;
    opacity: 0.5;
    font-size: 18px;
    font-weight: 500;
    line-height: 70%;

    span {
      text-decoration: line-through;
    }
  }

  &:hover {
    background-color: #fcfcfc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5),
                5px 5px 5px rgba(0, 0, 0, 0.2),
                inset -3px -3px 3px rgba(0, 0, 0, 0.2),
                inset 3px 3px 3px rgba(0, 0, 0, 0.2);
    transform: translate(-5px, -5px);
    border: 1px solid #000;
    scale: 1.01;
  }
}

.slider {
  padding: 48px;
  width: 800px !important;
  height: 330px !important;
  background-color: #C1DCDC;
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 48px;
  color: #1E1E1E;
  border-radius: 12px;
  cursor: grab;

  > p {
    font-size: 18px;
    font-weight: 500;
    opacity: 0.75;
  }

  main {
    display: flex;
    align-items: center;
    h1 {
      font-weight: 700;
      font-size: 18px;
    }

    p {
      font-size: 12px;
      opacity: 0.5;
      font-weight: 500;
    }
  }
}

.cart {
  width: 100%;
  background-color: #fff;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  gap: 48px;
  padding: 28px;

  @media (max-width: 425px) {
    padding: 14px;
    gap: 12px;
  }

  h1 {
    font-size: 24px;
    font-weight: 700;

    span {
      text-decoration: line-through;
    }
  }

  >div {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      img {
        width: 100%;
        object-fit: cover;
        height: 300px;
      }
    }

    img {
      border-radius: 8px;
    }

    >div {
      display: flex;
      flex-direction: column;
      padding: 12px 24px;
      gap: 8px;

      p {
        font-size: 18px;
      }

      >div {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        
        
        >div {
          padding: 6px 10px;
          background-color: #e6e6e6;
          border-radius: 12px;
          font-size: 14px;
          position: relative;
          cursor: pointer;

          &::before {
            content: var(--hint);
            color: #fff;
            padding: 8px 12px;
            position: absolute;
            background-color: #000;
            display: flex;
            justify-content: center;
            opacity: 0;
            filter: blur(10px);
            align-items: center;
            width: fit-content;
            left: 50%;
            bottom: 0;
            border-radius: 8px;
            transform: translate(-50%) scale(0);
            transition: all 1s cubic-bezier(.82,-0.45,.18,1.45);
          }

          &:hover::before {
            bottom: -130%;
            transform: translate(-50%) scale(1);
            filter: blur(0);
            opacity: 1;
          }
        }
      }


      main {
        display: flex;
        align-items: center;
        gap: 18px;

        form:nth-child(1) {
          display: flex;
          align-items: center;
          
          input {
            border: 1px solid #000;
            border-radius: 8px;
            padding: 8px;
            width: 42px;
            appearance: textfied;
            -moz-appearance: textfield;
            margin-right: 18px;
            text-align: center;
            
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

        }

        button {
          width: fit-content;
          height: fit-content;
          padding: 8px;
          border-radius: 4px;
          background-color: #000;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
}

.error,
.success {
  position: absolute;
  z-index: 999;
  top: 32px;
  left: 0;
  padding: 12px 28px;
  display: flex;
  color: #000;
  animation: fadeRight 4.5s cubic-bezier(.82,-0.45,.18,1.45) forwards;
  background-color: #fff;
}

.error {
  border-right: 4px solid tomato;
}

.success {
  border-right: 4px solid lime;
}


// animations

.rotateY {
  animation: rotateY .8s ease forwards;
}

.fadeDown {
  animation: fadeDown 0.8s ease forwards;
}

@keyframes fadeRight {
  0% {
    filter: blur(10px);
    transform: translate(-200%) scale(0.5);
    opacity: 0;
  }
  40% {
    filter: blur(0);
    transform: translate(32px) scale(1);
    opacity: 1;
  }

  60% {
    filter: blur(0);
    transform: translate(32px) scale(1);
    opacity: 1;
  }
  100% {
    filter: blur(10px);
    transform: translate(-200%) scale(0.5);
    opacity: 0;
  }
}

@keyframes fadeDown {
  from {
    transform: translateY(-100px) scale(1.2);
    opacity: 0;
    filter: blur(20px);
  } to {
    transform: translate(0) scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes rotateY {
  from {
    transform: translateY(-200px) rotateY(360deg) ;
    opacity: 0;
    filter: blur(20px);
  } to {
    transform: translateY(0) rotateY(0) ;
    opacity: 1;
    filter: blur(0);
  }
}
